<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title_notused %>
    <%= f.association :survey %>
    <%= f.input :qtype %>
    <%= f.input :question_note %>
    <%= f.input :question_whatlookfor %>
    <%= f.input :question_if_no %>
    <%= f.association :question_list %>
    <%= f.input :active_status %>
    <%= f.input :sort %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success'%>
  </div>
<% end %>
