<div class="item">
  <div class="well">
    <div class="card card-block">
      <h5 class="card-title"> <%# commentedout.. = question.title %> </h5>
      <h5 class="card-title"> <%= question.question_list.name %> </h5>
      <p class="card-title c_question_note" style=" color:green; "> <%= question.question_note %></p>
        
      <a class="a_whatto_help_txts" style="color:orange; display: inline-block; padding: 0px; margin-bottom: 0.75em;"> <u> What to Look For / What if no ... </u> </a> 
      <div class="c_whatto_help_txts">
        <p class="card-title c_question_whatlookfor" style=" color:blue; "> <%= question.question_whatlookfor %></p>
        <p class="card-title" style=" color:red; "> <%= question.question_if_no %></p>
      </div>

      <div id="answer">
        <% question.answers.each do |answr| %>
        <% end %>
      </div>

    <div class="c_questionset">
      <div class="c_question_types">
      <% if question.qtype == "short_answer"  %>
        <%= text_field_tag "answers[#{question.id}]", "",  type: 'text' , class: 'form-control' , :required => true, :autocomplete => :off %>
        
      <% elsif question.qtype == "select_part_number" %>
        <%= select_tag "answers[#{question.id}]", options_from_collection_for_select(PartNumber.where("active_status > 0"), :name , :full_name ) , 
          { :prompt => 'Please Select', :required => true,  :class => 'dgselect2' , :autocomplete => :off }  %>

      <% elsif question.qtype == "select_process_step" %>
        <%= select_tag "answers[#{question.id}]", options_from_collection_for_select(ProcessStep.where("active_status > 0"), :name , :name ) , 
          { :prompt => 'Please Select', :required => true,  :class => 'dgselect2' , :autocomplete => :off }  %>

      <% elsif question.qtype == "select_yes_no" %>
        <%= radio_button_tag "answers[#{question.id}][yes_no]", "Yes",  checked = false , {:class => "c_yesno c_yesno-yes"} %>
        <%= label_tag :yes_label, "Yes" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= radio_button_tag "answers[#{question.id}][yes_no]", "No", checked = true , {:class => "c_yesno c_yesno-no"}  %>
        <%= label_tag :no_label, "No" %>
      </div>

      <!--  <br><br> . html Character Entity Reference Chart - &NewLine;  -->
      <br>
      <div class="issue_action_fields">
        <div>
          Issue: <%= text_field_tag "answers[#{question.id}][issue_description]" , nil, type: 'text', class: 'form-control required-if-no', :autocomplete => :off %>
        </div>
        <div>
          Action Taken: <%= text_field_tag "answers[#{question.id}][action_taken]", "", type: 'text', class: 'form-control required-if-no', :autocomplete => :off %>
        </div>
      </div>
        
     <% end %>
    </div>
    
  </div>
</div>
</div>

