
<row class="row is-table-row" >

  <div class="col-sm-1 ">
    <%= link_to 'Create', new_stf_employee_path , class: "btn btn-success"%>
  </div>

  <div class="col-sm-2 ">
    <h4>Listing Stf Employees</h4>
  </div>

  <div class="col-sm-3">
    <%= search_form_for @q, class: 'search-form' do |f| %>
      <div class="input-group">
        <%= f.search_field :clocknum_cont, class: 'form-control' %>
        <span class="input-group-btn">
          <button class="btn btn-primary">Search <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 ">
    <%= paginate @stf_employees %>
  </div>
  
  <div class="col-sm-2 ">
    <%= page_entries_info @stf_employees, :entry_name => 'item' %>
  </div>
  
</row>


<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"></th>
            <th>Clocknum</th>
      <th>Name</th>
      <th>Active status</th>
      <th>Sort</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @stf_employees.each do |stf_employee| %>
      <tr>
        <td>
          <div class="btn-group">
          <%= link_to 'Show', stf_employee, class: "btn btn-info", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Edit', edit_stf_employee_path(stf_employee), class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Destroy', stf_employee, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning", :style=>'color:#FFFFFF;' %>
          </div>
        </td>
        
        <td><%= stf_employee.clocknum %></td>
        <td><%= stf_employee.name %></td>
        <td><%= stf_employee.active_status %></td>
        <td><%= stf_employee.sort %></td>
        <td><%= stf_employee.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
