
<p>
  <strong>Clocknum:</strong>
  <%= @stf_employee.clocknum %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stf_employee.name %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @stf_employee.active_status %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @stf_employee.sort %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @stf_employee.comment %>
</p>

<br>
<%= link_to 'Edit', edit_stf_employee_path(@stf_employee), class: "btn btn-primary", :style=>'color:#FFFFFF;' %> &nbsp &nbsp
<%= link_to 'Back', stf_employees_path, class: "btn btn-default" %>
