<div class="border-show-div">
  <%= form_for @survey do |f| %>
    <% if @survey.errors.any? %>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>

    <div class="form-group">
      <h5 class="add-question">Add title</h5>
      <%= f.text_field :title, autofocus: true, class: 'form-control' %><br />
    </div>

    <h5 class="add-question">Add Questions</h5>

    <div id="questions">
    <%= f.fields_for :questions do |question| %>
    <% render 'question_fields', f: question %>
      <% end %>
      <div class="links">
          <button type="button" class="btn btn-info btn-md"><%= link_to_add_association 'add question', f, :questions %></button>
      </div>
    </div>

  <br>
  <br>

    <%= f.submit class: "btn btn-info btn-block" %>
  <% end %>
  <br>
  <br>
  <p><%= link_to "Cancel", surveys_path,  class: "btn btn-danger" %></p>
</div>
