<div class="border-show-div">
  <header>
    <h3 class="survey-title"><%= @survey.title %></h3>
  </header>
    <% if @survey.questions.any? %>
      <%#  See app/assets/javascripts/anwers.js . prevents leaving an unsaved form by confirmation popup.. %>
      <%= form_tag answers_path,  role: 'check-unsaved-form1',  method: :post do   %>
        <%= hidden_field_tag 'survey_id', @survey.id %>
        <%= render @survey.questions %>

        <%= submit_tag 'Submit LPA', class: "btn btn-info btn-md btn-block"  %>
        <br>
        <br>
        <br>
        <p><%= link_to "Cancel", surveys_path, data: {confirm: "Are you sure you want to cancel?"}, class: "btn btn-danger " %></p>
        <%#= link_to "Delete", survey_path(@survey), :method => :delete,
                                              data: {confirm: "Are you sure you want to delete?"} %>
      <% end %>
    <% end %>
</div>

<%# 
  see this for confirm before leaving unsaved form...  \\10.4.1.227\rt\srv\share\lpa346\app\assets\javascripts\answers.js
%>

<br>
<hr>
JS: test to see js is working for me.
<button onclick="myFunction()"> Tryme:  popup javascript alert for a test</button>
<p class="tryme2"> Tryme2 </p>



