
<row class="row is-table-row" >

  <div class="col-sm-1 ">
    <%= link_to 'Create', new_morning_meeting_path , class: "btn btn-success"%>
  </div>

  <div class="col-sm-1 ">
    <h5>Listing Morning Meetings</h5>
  </div>

  <div class="col-sm-3">
    <%= search_form_for @q, class: 'search-form' do |f| %>
      <div class="input-group">
        <%#= f.search_field :name_cont, class: 'form-control' %>
        <%= f.search_field text1_morning_meetings_cont, class: 'form-control', placeholder: "single word, most fields" %>
        <span class="input-group-btn">
          <button class="btn btn-primary">Search <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="col-sm-1 ">
       <a href="http://<%= request.host_with_port %>/admin/morning_meeting" target="_blank">Search-2</a>
  </div>
  <div class="col-sm-1 ">
    <a href="http://<%= request.host %>/prod367b?-table=vw_eam_assets" target="_blank">Search-3</a>
  </div>

  <div class="col-sm-4 ">
    <%= paginate @morning_meetings %>
  </div>
  
  <div class="col-sm-2 ">
    <%= page_entries_info @morning_meetings, :entry_name => 'item' %>
  </div>

  <div class="col-sm-1 ">
  <%= button_to  'Reset Reviewed', morning_meetings_reset_reviewed_path, method: :get, data: { Confirm: "Are you really sure you want to reset all the reviewed complete flags?" }  %>
  </div>

  
</row>


<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"></th>
            
      <th> <%= sort_link(@q, :id, 'id', default_order: :desc) %> </th>
            
      <th> <%= sort_link(@q, :priority, 'Priority') %>  </th>
      <th> <%= sort_link(@q, :machine_id, 'Machine') %>  </th>
      <th>Problem description</th>
      <th> <%= sort_link(@q, :running, 'Running', default_order: :asc) %>  </th>
      <th>Responsibility</th>
      <th>Timing plan for repair</th>
      <th>Followup comments</th>
      <th>Is closed</th>
      <th> <%= sort_link(@q, :created_at, 'created', default_order: :desc) %> </th>
      
      <th> <%= sort_link(@q, :updated_at, 'Updatedat', default_order: :desc) %> </th>
    </tr>
  </thead>

  <tbody>
    <% @morning_meetings.each do |morning_meeting| %>
      <tr>
        <td>
          <div class="btn-group">
          <%= link_to 'Show', morning_meeting, class: "btn btn-info", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Edit', edit_morning_meeting_path(morning_meeting), class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
          <%#= link_to 'Destroy', morning_meeting, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning", :style=>'color:#FFFFFF;' %>
          </div>
        </td>
        
        <td><%= morning_meeting.id %></td>
        <td><%= morning_meeting.priority %></td>
        <td><%= morning_meeting.machine_id %></td>
        <td><%= morning_meeting.problem_description %></td>
        <td><%= morning_meeting.running %></td>
        <td><%= morning_meeting.responsibility %></td>
        <td><%= morning_meeting.timing_plan_for_repair %></td>
        <td> <%=  morning_meeting.followup_comments.truncate(155, :omission => " .~.~.") if morning_meeting.followup_comments %>  
        <td><%= morning_meeting.is_closed %></td>
        <td><%= morning_meeting.created_at.strftime("%m-%d") if morning_meeting.created_at.present? %></td>
        <td><%= morning_meeting.updated_at.strftime("%m-%d") if morning_meeting.updated_at.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
