


<p>
  <strong>Priority:</strong>
  <%= @morning_meeting.priority %>
</p>

<p>
  <strong>Machine:</strong>
  <%= @morning_meeting.machine_id %>
</p>

<p>
  <strong>Problem description:</strong>
  <%= @morning_meeting.problem_description %>
</p>

<p>
  <strong>Running:</strong>
  <%= @morning_meeting.running %>
</p>

<p>
  <strong>Responsibility:</strong>
  <%= @morning_meeting.responsibility %>
</p>

<p>
  <strong>Timing plan for repair:</strong>
  <%= @morning_meeting.timing_plan_for_repair %>
</p>

<p>
  <strong>Followup comments:</strong>
   
  <%# Using a double equals means the result is not escaped, raw is the same thing. simple_format will keep linebreaks simple_format @morning_meeting.followup_comments %>

  <div style="padding-left: 3em;">
    <%=raw @morning_meeting.followup_comments.gsub(/\n/, '<br />') %>
  </div>
</p>

<p>
  <strong>Is closed:</strong>
  <%= @morning_meeting.is_closed %>
</p>

<p>
  <strong>Reviewed Mark:</strong>
  <%= @morning_meeting.reviewed_mark %>
</p>

<br>
<%= link_to 'Edit', edit_morning_meeting_path(@morning_meeting), class: "btn btn-primary", :style=>'color:#FFFFFF;' %> &nbsp &nbsp
<%= link_to 'Back', morning_meetings_path, class: "btn btn-default" %>
