<%= simple_form_for(@pfeature) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :fdate %>
    <%= f.input :active_status %>
    <%= f.input :sort %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success'%>
  </div>
<% end %>


<script>

//
//  see also answers.js. works for survey show / answer gathering form...
//         \\10.4.1.227\rt\srv\share\lpa346\app\assets\javascripts\answers.js
//

//
// works.. asks before leaving edited form..
//
// http://stackoverflow.com/questions/16322042/jquery-warn-if-leaving-page-without-clicking-the-save-button
//

$(document).ready(function() {

  formmodified=0;
    $('form *').change(function(){
        formmodified=1;
    });

  window.onbeforeunload = confirmExit;
    function confirmExit() {
      if (formmodified == 1) {
          return "New information not saved. Do you wish to leave the page?";
      }
  }

  $("input[name='commit']").click(function() {
      formmodified = 0;
  });
  
});
</script>


<br>
<hr>
<button onclick="myFunction()"> Tryme:  popup javascript alert for a test</button>
<p class="tryme2"> Tryme2 </p>


<script>
// works.. pops up when tryme2 is clicked..
$(document).ready(function(){
  $('.tryme2').click(function(){
    alert("You clicked: " + $(this).data('id'));
  });
});

/*
// works.. it pops up tryme3 on page load.
$(document).ready(function(){
    alert("tryme3 ");
});
*/
</script>

<script>  
// works.. pops up when tryme button is clicked.
function myFunction() {
    alert("I am an alert box!");
}
</script>
