<%= simple_form_for(@dc_discipline) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :date_discipline %>
    <%= f.association :stf_employee %>
    <%= f.input :discipline_by %>
    <%= f.association :dc_level %>
    <%= f.association :dc_stream %>
    <%= f.input :infraction_description %>
    <%= f.input :dc_action %>
    <%= f.input :dc_comment %>
    <%= f.input :output %>
    <%= f.input :sort_order %>
    <%= f.input :active_status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success'%>
  </div>
<% end %>
