
<row class="row is-table-row" >

  <div class="col-sm-1 ">
    <%= link_to 'Create', new_dc_discipline_path , class: "btn btn-success"%>
  </div>

  <div class="col-sm-2 ">
    <h4>Listing Dc Disciplines</h4>
  </div>

  <div class="col-sm-3">
    <%= search_form_for @q, class: 'search-form' do |f| %>
      <div class="input-group">
        <%= f.search_field :StfEmployee_cont, class: 'form-control' %>
        <span class="input-group-btn">
          <button class="btn btn-primary">Search <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 ">
    <%= paginate @dc_disciplines %>
  </div>
  
  <div class="col-sm-2 ">
    <%= page_entries_info @dc_disciplines, :entry_name => 'item' %>
  </div>
  
</row>


<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"></th>
            <th>Stfemployee</th>
      <th>Datediscipline</th>
      <th>Disciplineby</th>
      <th>Dclevel</th>
      <th>Dcstream</th>
      <th>Infractiondescription</th>
      <th>Dcaction</th>
      <th>Dccomment</th>
      <th>Output</th>
      <th>Sort order</th>
      <th>Active status</th>
    </tr>
  </thead>

  <tbody>
    <% @dc_disciplines.each do |dc_discipline| %>
      <tr>
        <td>
          <div class="btn-group">
          <%= link_to 'Show', dc_discipline, class: "btn btn-info", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Edit', edit_dc_discipline_path(dc_discipline), class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Destroy', dc_discipline, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning", :style=>'color:#FFFFFF;' %>
          </div>
        </td>
        
        <td><%= dc_discipline.StfEmployee %></td>
        <td><%= dc_discipline.DateDiscipline %></td>
        <td><%= dc_discipline.DisciplineBy %></td>
        <td><%= dc_discipline.DcLevel %></td>
        <td><%= dc_discipline.DcStream %></td>
        <td><%= dc_discipline.InfractionDescription %></td>
        <td><%= dc_discipline.DcAction %></td>
        <td><%= dc_discipline.DcComment %></td>
        <td><%= dc_discipline.output %></td>
        <td><%= dc_discipline.sort_order %></td>
        <td><%= dc_discipline.active_status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
