
<row class="row is-table-row" >

  <div class="col-sm-1 ">
    <h4>Disciplines</h4>
  </div>

  <div class="col-sm-2 ">
    <p>Use Administer section to create/edit</p>
    <%#= [commented out by dgleba] link_to 'Create', new_dc_discipline_path , class: "btn btn-success"%>
  </div>


  <div class="col-sm-3">
    <%= search_form_for @q, class: 'search-form' do |f| %>
      <div class="input-group">
        <%= f.search_field :employee_name_or_employee_clock_cont, class: 'form-control' %>
        <span class="input-group-btn">
          <button class="btn btn-primary">Search <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 ">
    <%= paginate @dc_disciplines %>
  </div>
  
  <div class="col-sm-2 ">
    <%= page_entries_info @dc_disciplines, :entry_name => 'item' %>
  </div>
  
</row>


<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Date discipline</th>
      <th>Employee</th>
      <th>Discipline by</th>
      <th>Dc level</th>
      <th>Dc stream</th>
      <th>Infraction description</th>
      <th>Dc action</th>
      <th>Dc comment</th>

    </tr>
  </thead>

  <tbody>
    <% @dc_disciplines.each do |dc_discipline| %>
      <tr>
        <td>
          <div class="btn-group">
          <%= link_to 'Show', dc_discipline, class: "btn btn-info", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Sign-it', edit_dc_discipline_path(dc_discipline), class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
          <%#= [commented out by dgleba] link_to 'Destroy', dc_discipline, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning", :style=>'color:#FFFFFF;' %>
          </div>
        </td>
        
        <td><%= dc_discipline.date_discipline %></td>
        <td><%= dc_discipline.employee %></td>
        <td><%= dc_discipline.discipline_by %></td>
        <td><%= dc_discipline.dc_level %></td>
        <td><%= dc_discipline.dc_stream %></td>
        <td><%= dc_discipline.infraction_description %></td>
        <td><%= dc_discipline.dc_action %></td>
        <td><%= dc_discipline.dc_comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
