
<p>
  <strong>Title:</strong>
  <%= @dc_discipline.title %>
</p>

<p>
  <strong>Date discipline:</strong>
  <%= @dc_discipline.date_discipline %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @dc_discipline.employee %>
</p>

<p>
  <strong>Discipline by:</strong>
  <%= @dc_discipline.discipline_by %>
</p>

<p>
  <strong>Dc level:</strong>
  <%= @dc_discipline.dc_level %>
</p>

<p>
  <strong>Dc stream:</strong>
  <%= @dc_discipline.dc_stream %>
</p>

<p>
  <strong>Infraction description:</strong>
  <%= @dc_discipline.infraction_description %>
</p>

<p>
  <strong>Dc action:</strong>
  <%= @dc_discipline.dc_action %>
</p>

<p>
  <strong>Dc comment:</strong>
  <%= @dc_discipline.dc_comment %>
</p>

<p>
  <strong></strong>
  <%#= @dc_discipline.output %>
  
  <div class="sigPad signed">
    <div class="sigWrapper">
       <canvas class="pad" height="111" width="311"></canvas>
    </div>
  </div>

</p>

<br>
<br>
<br>
<br>
<%= link_to 'Sign-it', edit_dc_discipline_path(@dc_discipline), class: "btn btn-primary", :style=>'color:#FFFFFF;' %> &nbsp &nbsp
<%= link_to 'Back', dc_disciplines_path, class: "btn btn-default" %>

<script>
$(document).ready(function() {
      var sig = <%= raw @dc_discipline.output %>;
      $('.sigPad').signaturePad({displayOnly : true}).regenerate(sig);
      });
</script>  
